/* Colour palette: https://colorhunt.co/palette/fff8dbffc7ed7d8abc304463 */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  background-color: white;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-inline: 1rem;
}

main {
  flex-grow: 1;
}

footer {
  text-align: right;
}

body.up.light {
  background-color: #fff8db;
}

body.up.dark {
  background-color: #40679e;
  color: #eeedeb;
}

body.down.light {
  background-color: #ffc7ed;
}

body.down.dark {
  background-color: #304463;
  color: #eeedeb;
}

body.dark a {
  color: #fdf0d1;
}

body.light a {
  color: #445d48;
}

.main p {
  font-size: 1.5rem;
}
